- content_for :head do
  %script(type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false")
- content_for :layout do
  - @sidebar = false

#left_column
  #list_exhort
    %strong
      = link_to "List a property", [:new, :listing]
      for free!

  #map_canvas
  :coffeescript
    $('#map_canvas').gmap3(
      {
        action: 'init'
        options: #{Search::MAP_OPTIONS}
      },{
        action: 'addMarkers'
        radius: 100
        markers: #{marker_json @listings}
        clusters:
          0:
            content: '<div class="cluster cluster-0"></div>'
            height: 20
            width: 20
          20:
            content: '<div class="cluster cluster-20"></div>'
            height: 20
            width: 20
          50:
            content: '<div class="cluster cluster-50"></div>'
            height: 20
            width: 20
        marker:
          options:
            icon: new google.maps.MarkerImage('http://maps.gstatic.com/mapfiles/icon_green.png')
      }
    )
  
  %ul.listings
    = render @listings
    
#right_column 
  #find_exhort
    %strong Have a listing ID?
    = text_field_tag :listing_id, nil, placeholder: "listing ID"
    %button(id='find_listing') Go

    :coffeescript
      $('#find_listing').click ->
        window.location.href = "#{listings_path}/" + $('#listing_id').val().trim()
  
  #search
    %h2 Show properties within
    = simple_form_for @search do |f|
      = f.text_field :range, placeholder: "any"
      km of
      = f.text_field :address, placeholder: "place or address"
      :coffeescript
        $('#search_address').autocomplete
          source: (request, response) ->
            $("#map_canvas").gmap3
              action: 'getAddress'
              address: request.term + ', Philippines'
              callback: (results) ->
                return unless results
                response $.map results, (item) ->
                  label:  item.formatted_address
                  value: item.formatted_address
                  latLng: item.geometry.location
                  bounds: item.geometry.bounds
          select: (event, ui) ->
            $("#map_canvas").gmap3
              action: 'fitBounds'
              args: [ui.item.bounds]

      #price
        #sale
          = f.input :for_sale, label: false do
            = f.input_field :for_sale
            = f.label :for_sale
            &nbsp; ₱
            = f.text_field :for_sale_min_price, placeholder: "any"
            to
            = f.text_field :for_sale_max_price, placeholder: "any"
        #rent
          = f.input :for_rent, label: false do
            = f.input_field :for_rent
            = f.label :for_rent
            &nbsp; ₱
            = f.text_field :for_rent_min_price, placeholder: "any"
            to
            = f.text_field :for_rent_max_price, placeholder: "any"
            per
            = f.select :rental_term, ['day', 'week', 'month'], selected: 'month'
  
      #features
        .group_title 
          %strong Show these property types
        -  Listing::RESIDENCE_TYPES.each do |type, label|
          = f.input type, label: label
        = f.input :land
        = f.input :commercial
        
        
  
