%h2 ADD A TITLE

-# Here's the syntax I want: 
-# %p= link_to "Edit", [:edit, @listing] if current_user.can :edit, @listing
%p= link_to "Edit", [:edit, @listing]

%strong= listed_by(@listing)

= show_for @listing do |f|

  %h3 Location
  = f.attribute :latitude
  = f.attribute :longitude
  
  %h3 Details
  = f.attribute :land_area
  = f.attribute :residence_area
  = f.attribute :residence_construction
  = f.attribute :beach_front
  = f.attribute :near_beach
  = f.attribute :residence_type
  = f.attribute :description
  
  %h3 Price
  = f.attribute :selling_price
  = f.attribute :rent_per_day

  - if @listing.has_alt_contact?
    %h3 Contact Information
    = f.attribute :contact_name
    = f.attribute :contact_phone
    = f.attribute :contact_email
    = f.attribute :contact_note
  
  %h3 What is your interest in this property?
  = f.attribute :lister_interest, hint: "Are you the owner, an agent, a friend, etc?"
