!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", content: "text/html; charset=utf-8"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application" 
    = csrf_meta_tag
    = yield(:head)

  %body
    #wrapper
      %header
        %h1= link_to 'ClearProperty', root_path
        = render 'login'  

      #flash
        - flash.each do |name, msg|
          = content_tag :div, msg, class: name

        - if show_title?
          %h1= yield(:title)

      %content
        = yield
      %sidebar
        - unless @u
          %h2 Menu
          %ul
            %li= link_to "List your property for sale or rent", [:new, :listing]
        - else
          %h2
            - if @a
              #{@g.name}
            - else
              Menu
          %ul
            %li= link_to "New property", [:new, :listing]
            %li= link_to "Your properties", :listings
            %li= link_to "Agency properties", [@g, :listings]
            %li= link_to "Agent index", [@g, :agents]
            
          - if admin?
            %h3 Admin
            %ul
              %li= link_to "Add a new agent", [:new, @g, :agent]
        %h2 Search
        %ul
          %li= link_to "All Properties", :properties
